table {
    border-collapse: collapse;
    width: 300px;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    text-align: center; /* Centraliza o texto horizontalmente */
    vertical-align: middle; /* Centraliza o texto verticalmente */
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}